@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Circular", "Circular Std", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #242430;
  color: white;
}

input {
  background: #4E6280;
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  color: #ff7a64;
}
